movie-watching/src/main/resources/movie.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns2="http://www.bp.org" xmlns:ns1="http://www.bp.org/movie/" name="MovieBooking"
                  targetNamespace="http://www.bp.org/movie/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://www.bp.org/types" version="1.0">
            <xs:complexType name="BookingInfo">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="cost" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Fault">
                <xs:sequence>
                    <xs:element name="code" type="xs:int"/>
                    <xs:element name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Movie">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="category" type="xs:string"/>
                    <xs:element name="country" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaymentCard">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="validTo" type="xs:string"/>
                    <xs:element name="number" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.bp.org/types"
                   elementFormDefault="qualified" targetNamespace="http://www.bp.org" version="1.0">
            <xs:import namespace="http://www.bp.org/types"/>
            <xs:element name="bookMovieRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="person" type="ns1:Person"/>
                        <xs:element name="movie" type="ns1:Movie"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookMovieResponse" type="ns1:BookingInfo"/>
            <xs:element name="cancelBookingRequest">
                <xs:complexType>
                    <xs:sequence/>
                    <xs:attribute name="bookingId" type="xs:int"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelBookingResponse" type="ns1:BookingInfo"/>
            <xs:element name="movieFault" type="ns1:Fault"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="cancelBooking">
        <wsdl:part element="ns2:cancelBookingRequest" name="payload"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookMovie">
        <wsdl:part element="ns2:bookMovieRequest" name="payload"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelBookingResponse">
        <wsdl:part element="ns2:cancelBookingResponse" name="payload"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MovieFaultMsg">
        <wsdl:part element="ns2:movieFault" name="MovieFaultMsg"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookMovieResponse">
        <wsdl:part element="ns2:bookMovieResponse" name="payload"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MovieBooking">
        <wsdl:operation name="cancelBooking">
            <wsdl:input message="ns1:cancelBooking" name="cancelBooking"></wsdl:input>
            <wsdl:output message="ns1:cancelBookingResponse" name="cancelBookingResponse"></wsdl:output>
            <wsdl:fault message="ns1:MovieFaultMsg" name="MovieFaultMsg"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bookMovie">
            <wsdl:input message="ns1:bookMovie" name="bookMovie"></wsdl:input>
            <wsdl:output message="ns1:bookMovieResponse" name="bookMovieResponse"></wsdl:output>
            <wsdl:fault message="ns1:MovieFaultMsg" name="MovieFaultMsg"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>